/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
body {
	margin:0px;
	padding:0px;
    background-color: #042940;
}

#game-area {
	margin:10px;
	padding:0px;
}

#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;

}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #005C53;
}

a.snake-link:hover {
  color: #005C53;
}

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #005C53;
    border-radius:5px;
    position: absolute;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
   background-image: url('./css/images/green-head-snakeblock.png'), url('./images/green-head-snakeblock.png');
}

.snakeblock-head {
    background-image: url('./css/images/green-head-snakeblock.png'), url('./images/green-head-snakeblock.png');
 }

.snake-snakebody-dead {
   background-image: url('./css/images/matrix-food-block.png'), url('./images/matrix-food-block.png');
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    position: absolute;
    border-radius: 15px;
}


.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #DBF227;

}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    position: relative;
}

.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
    border-radius: 14px;
}

.snake-try-again-dialog, .snake-win-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
    border-radius: 15px;
}

span{
    color:white;
}
